html,body{
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
}
.mainPage{
    display:flex;
    height:100%;
    width:100%;
    flex-direction:column;
}
.dropdown-menu{
    z-index: 201;
}
.navbar{
 display:flex;
 background-color:#333;
 flex-shrink: 0;
 flex-direction:row;
 float: basis 60px;
 margin:0;
}
.option{
    text-decoration:none;
    flex:1;
    font-size:16px;
    cursor:pointer;
    color:white;
    display: block;
    padding-top:15px;
    text-align:center;
    position:relative;
}
.navbar a{
    padding:14px 16px;
}
.navbar a:hover{
    background-color:red; 
}
.option:hover{
    color:white;
    text-decoration:none;
    background-color:red;
}
.rightPage{
 height:auto;
 display:flex;
 flex:auto;
 flex-direction:column;
 overflow:hidden;
}
.top{
border:1px solid red;
flex-basis:40px;
flex-shrink:0;
}
.middle{
    border:1px solid gray;
    flex:4;
    display: flex;
    flex-flow:column-reverse;
    overflow-y:scroll;
    overflow-x:hidden;
}
.msg{
    width:100%;
    background-color:lightgrey;
    word-wrap: break-word;
    margin-bottom:10px;
    display:inline-block;
}
.image,.document{
    float:left;
    clear:both;
    height:150px;
    width:150px;
    margin-bottom:10px;
    position:relative;
    display: block;
    border:1px solid gray;
}
.imageContent,.documentContent{
    height:200px;
    width:100%;
    border:1px solid red;
    display:inline-block;
    margin-bottom:10px;
}
.messageContent{
    width:100%;
}
.message{
    border: 1px solid gray;
    width: 100%!important;
}
.bottom{
  border: 1px solid green;
  flex-basis:60px;
  flex-shrink:0;
  display:flex;
}
.groupList,.contactList{
    display:none;
    position:absolute;
    background-color:lightgray;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:201;
}
.groupList a, .contactList a{
   float:none;
   color:black;
   text-decoration:none;
   display:block;
   text-align:left;
}
.dropdownGroup:hover .groupList{
    display:block;
}
.dropdownContact:hover .contactList{
    display:block;
}
.dropdownContact,.dropdownGroup{
    float:left;
    overflow:hidden;
    font-size:16px;
    flex:1;
}
.listGroup,.listContact{
font-size:16px;
border:none;
outline:none;
color:white;
padding:14px 16px;
background-color:inherit;
}
.messageBox{
    flex:1;
    width:100%;
    text-overflow:ellipsis;
    word-wrap:break-word;
    overflow-x:hidden;
}
p{
    overflow-wrap: break-word;
}
.msgStatus,.imageStatus,.documentStatus{
    float:right;
    clear:both;
}
.imageFrom,.documentFrom{
    float:left;
    clear:both;
} 
.imageProfileContainer{
    margin:auto;
}
.profilePicture{
   float:right; 
   margin:5px auto;
   width:50px;
   height:50px;  
}
.changePicture .btn-default{
   margin:3px auto;
   display:block;    
}
@media screen and (max-width:600px){
.navbar{
    display:block;
}
.option{
    width:50%;
    float:left;
    font-size:10px;
    padding: 7px 8px;
}
.dropdownContact,.dropdownGroup{
    width:50%;
    font-size:10px;
    text-align: center;
    display: block;
}
.listContact,.listGroup{
    font-size:10px;
}
.contactList,.groupList{
    width:50%;
}
.profilePicture{
    float:none;
    display: block;
}

}



